<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Your source for pretty pictures!</h1>
  </div>
</div>
<div class="container-fluid">
  <a href="/earth">
    <div class="col-md-4 demoPane" id="earthPreview">
      <div id="earthPreview-content">
        <h2>Earth</h2>
      </div>
    </div>
  </a>
  <a href="/village">
    <div class="col-md-4 demoPane" id="villagePreview">
      <div id="villagePreview-content">
        <h2>Village</h2>
      </div>
    </div>
  </a>
  <a href="/city">
    <div class="col-md-4 demoPane" id="cityPreview">
      <div id="cityPreview-content">
        <h2>City</h2>
      </div>
    </div>
  </a>
</div>
