<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="container">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#earth" aria-expanded="false" aria-controls="collapseExample">
    Earth
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#village" aria-expanded="false" aria-controls="collapseExample">
    Village
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#city" aria-expanded="false" aria-controls="collapseExample">
    City
  </button>

  <div class="collapse" id="earth">
    <div class="well">
      earth pics go here
    </div>
  </div>
  <div class="collapse" id="village">
    <div class="well">
      village pics go here
    </div>
  </div>
  <div class="collapse" id="city">
    <div class="well">
      city pics go here
    </div>
  </div>
</div>
